/**
 * > Blink animation
 * This animation is broken, because it uses custom css properties in 
 * the definition of the keyframes.
 * Helpfull references:
 * - https://www.w3schools.com/css/css3_animations.asp
 * - https://stackoverflow.com/questions/50661638/css-animate-custom-properties-variables
 * - https://developer.mozilla.org/en-US/docs/Web/CSS/@property
 * - https://www.w3.org/TR/css-variables-1/
 */
@keyframes blink {
  0%   {--fighter-color: red;}
  25%  {--fighter-color: yellow;}
  50%  {--fighter-color: blue;}
  100% {--fighter-color: green;}
}
#fighter[animation=blink] {
  animation-name: blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/**
 * > Wink animation
 * left arm and left arm lower are animated separately, each having their 
 * own animation and keyframes
 */
@keyframes wink-arm-left {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(160deg);
  }
}
#fighter[animation=wink] .arm.left {
  animation-name: wink-arm-left;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes wink-arm-left-lower {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
#fighter[animation=wink] .arm.left .arm-part.lower {
  animation-name: wink-arm-left-lower;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}